@import "var";
@import "media";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	font-family: $fontGrotesk;
	background-color: $white;
	font-size: $fs18;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	@include desktop {
		grid-template-columns: 1fr 2fr;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
