header {
	background-image: url("../images/bg-main-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 15rem;
	max-height: 100%;
	max-width: 100%;
	padding: 1rem;
	.cards {
		width: 100%;
		height: 100%;
		position: relative;
		max-width: 400px;
		margin: 0 auto;

		.card-back {
			width: 18.5rem;
			max-width: 100%;
			height: 100%;
			background-image: url("../images/bg-card-back.png");
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			z-index: 1;
			right: 0;
			top: 1rem;
			.card-back-details {
				position: absolute;
				right: 2.5rem;
				top: 4.5rem;
				z-index: 2;
				p {
					color: $white;
					font-size: 0.7rem;
					letter-spacing: 1px;
				}
			}
		}

		.card-front {
			width: 18.5rem;
			max-width: 100%;
			height: 100%;
			background-image: url("../images/bg-card-front.png");
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			bottom: -7rem;
			z-index: 3;
			.card-front-details {
				width: 296px;
				height: 162px;
				position: absolute;
				padding: 1rem;
				z-index: 4;
				display: flex;
				flex-direction: column;
				.logo {
					max-width: 3.5rem;
				}
				.card-number {
					letter-spacing: 1px;
					color: $white;
					font-weight: $fw500;
					font-size: 1.3rem;
					margin-top: 2.5rem;
				}
				.row {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin: auto 0 0 0;
					.card-name,
					.exp-date {
						font-weight: $fw500;
						text-transform: uppercase;
						font-size: 0.7rem;
						color: $neutral200;
					}
				}
			}
		}
	}
}
main {
	background-color: $white;
	form {
		padding: 1.2rem;
		margin-top: 4rem;
		//place for errors styling
		label {
			text-transform: uppercase;
			font-size: 0.85rem;
			color: $neutral400;
			letter-spacing: 1px;
			display: block;
		}
	}
}
footer {
	display: none;
}
